@import url(./styles/reset.css);

html, body {
  height: 100%;
}

html {
  font-family: monospace;
}

body {
  overflow: hidden;

  /* wooden table */
  background-image: url("./images/wooden2.jpg");
}

#game-board {
  z-index: 1;
  /* width: 100vw;
  height: 100vh;
  position: relative;
  background-size: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */

  box-shadow: 1px 1px 3px #00000088; /* micro shadow on the table */

  /* 1:1 */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vmin;
  height: 100vmin;
  transform: translate(-50%, -50%) scale(calc(var(--zoom) / 100)); /* centering + zoom(centered) */
  transition: transform 0.1s ease-out, translate 0.1s ease-out;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  /* zoom and pan */
  translate: var(--x) var(--y); /* chrome 103 bug !!!!! */
  --x: 0px;
  --y: 0px;
  /* zoom: calc(var(--zoom) / 100); */ /* do not work */
  /* scale: calc(var(--zoom) / 100); */ /* uncentered zoom */
  --zoom: 100;
}

#game-board.panning-mode {
  cursor: grab;
}
#game-board.panning-mode.panning-active {
  cursor: grabbing;
}

#game-board.world {
  background-image: url("./images/world.png");
}
#game-board.ludo {
  background-image: url("./images/ludo.png");
}
#game-board.ladders {
  background-image: url("./images/ladders2.png");
}
#game-board.ludo-6x {
  background-image: url("./images/ludo-6x.jpg");
}

.player {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.player:before {
  content: '';
  border-radius: 50%;
  width: 47px;
  height: 37px;
  position: absolute;
  transform: translate(0, 1px);
}
.player:after {
  content: '';
  border-radius: 10px;
  width: 20px;
  height: 60px;
  position: absolute;
  transform: translate(0, -22px);
}

.player div {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  transform: translate(14px, -14px);
  pointer-events: none; /* hide from mouse pointer */
}
#color-0 {
  background-image: url("./images/player1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#color-1 {
  background-image: url("./images/player2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#color-2 {
  background-image: url("./images/player3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#color-3 {
  background-image: url("./images/player4.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#color-4 {
  background-image: url("./images/player5.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#color-5 {
  background-image: url("./images/player6.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999; /* ontop of all players */
}
.menu.closed {
  display: none;
}

.menu-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(0deg 0% 0% / 0.5);
}

.playerOptions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* gap: 1rem; */
  background-color: #fff;
  padding: 2rem;
  min-width: 280px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px #00000088;
}

.room-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  font-weight: normal;
  font-size: 1.25rem;
  border: 1px solid  hsla(348, 83%, 47%, 0.2);
  background-color:  hsla(348, 83%, 47%, 0.1);
  border-radius: 1rem;
  padding: 0.5rem;
}

.room-text {
  flex: 1 1 auto;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;

  display: flex;
  justify-content: center;
}
.room-text a {
  color: crimson;
  padding: 0.5rem;
}
.room-text a:hover {
  color: rgb(252, 22, 68);
}

a.cross-icon {
  flex: 0 0 auto;
  color: #fff;
  background-color: crimson;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
a.cross-icon:hover {
  background-color: rgb(252, 22, 68);
  color: #fff;
}

.playerOptions label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spacer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.applyButton {
  display: inline-block;
  padding: 1rem 1.1rem;
  background-color: #222;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 1px hsl(0deg 0% 0% / 18%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.applyButton:hover {
  background-color: #111;
}
.applyButton>span {
  flex-grow: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}
.applyButton>.icon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: -12px;
  margin-bottom: -12px;
}

.button {
  position: absolute;
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 6px 10px #00000088;
  transition: scale 0.2s ease;
}
.button.active {
  background-color: black;
  color: white; /* to invert svg icon */
}
.button:hover {
  scale: 1.1;
}
.button:active {
  /* background-color: hsl(0, 0%, 90%); */
  scale: 1.2;
}
.button.active:hover {
  background-color: hsl(0, 0%, 15%);
}
#menuButton {
  z-index: 2;
  transform: translateZ(0);
  top: 0.5rem;
  left: 0.5rem;
}
#navButtons {
  z-index: 2;
  transform: translateZ(0);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
#navButtons .button {
  position: relative;
}
#menuButton.closed,
#navButtons.closed {
  display: none;
}

#dicesField {
  z-index: 2;
  transform: translateZ(0);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  cursor: pointer;
}

/* #dicesField:hover .dice {
  scale: 1.05;
} */

.dice {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  /* cursor: pointer; */

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 6px 10px #00000088;
  transition: scale 0.2s ease;
}
.dice.hidden {
  display: none;
}

.dice svg {
  display: none;
  rotate: 0deg; /* for Safari bug */
  scale: 1;

  stroke: hsl(from currentColor h s calc(l - 7)); /* svg stroke */
  stroke-width: 1px; /* svg stroke */
}
.dice.active svg {
  display: initial; /* just unhide svg */
}

.dice.active img {
  display: none;
}

.dice span {
  position: absolute;
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: bold;
  font-size: 24px;
  z-index: 1;

  text-shadow: 1px 1px 1px hsl(0deg 0% 0% / 18%);
}

/* loading animations (showing and spinning) */
.showing {
  animation: showing 1.5s forwards linear;
}
@keyframes showing {
  0% { opacity: 0; }
  80% { opacity: 0; }
  83% { opacity: 100; }
  100% { opacity: 100; }
}

.spinning {
  animation: spinning 1.5s forwards ease-out;
}
/* chrome 103 bug !!! */
@keyframes spinning {
  0% {
    rotate: 0turn; 
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1turn;
    scale: 1;
  }
}

/* ========== sticky points ========== */

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
}
.point:after {
  content: '';
  border-radius: 50%;
  width: 8vmin;
  height: 8vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  background: repeating-radial-gradient(
    circle at center,
    white 0,
    white 10%,
    black 10%,
    black 25%
  );
}

/* ========== mobile version ========== */

/* only in Safari */
/* @media (width < 800px) {
  .player {
    transform: scale(calc(100vw / 800px));
  }
} */
